<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Простой заголовок</span>
      </a>

      <ul class="nav nav-pills ">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Функции</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ценообразование</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="#" class="nav-link">О нас</a></li>
      </ul>
    </header>